Source: libbrackup-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, perl-modules (>= 5.8.9),
  libtest-simple-perl (>= 0.88), libdigest-sha1-perl,
  libdbd-sqlite3-perl, libio-stringy-perl, libstring-escape-perl,
  libdbi-perl, gnupg
Maintainer: Alex Vandiver <alexmv@bestpractical.com>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Brackup/

Package: libbrackup-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl-modules (>= 5.8.9),
  libdigest-sha1-perl, libdbd-sqlite3-perl, libio-stringy-perl,
  libstring-escape-perl, libdbi-perl, gnupg
Suggests: libnet-amazon-s3-perl
Description: Flexible backup tool.  Slices, dices, encrypts, and
  sprays across the net.
